<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Portfolio/0. Logo.png">
    <link rel="stylesheet" href="/freelancer/project.css">
    <title>Projeto <%= project.Name %></title>
</head>
<body>
    <div class="container">
        <div class="block-top">
            <div class="left">
                <img src="/Portfolio/0. Logo.png" alt="">
                <div class="center">
                    <p>Leticia S.</p>
                    <p>Arquitetura</p>
                </div>
            </div>
            <div class="rigth">
                <div class="user">
                    <div class="name">
                        <p><%= User.Name %></p>
                        <p><%= User.Surname %></p>
                    </div>
                    <ion-icon style="font-size: 40px;" name="person-circle-outline"></ion-icon>
                </div>
                <div class="rightSecond">
                    <a href="/logout"><ion-icon style="font-size: 20px;" name="log-out-outline"></ion-icon></a>
                </div>

            </div>
        </div>
        <div class="block-bot">
            <div class="BlockHeader">
                <div class="title">
                    <p><%= project.Name %></p>
                </div>
                <div class="status">
                    <% if (project.Status == 0 && UserType === 1){ %>
                        <p><%= statusMap[project.Status] %></p>
                        <form id="formApproval">
                            <input type="hidden" name="projectId" id="projectId" value="<%= project.id %>">
                            <button class="approval" name="approval" id="approval" value="2">Aprovar</button>
                            <button class="reject" name="reject" id="reject" value="1">Recusar</button>
                        </form>
                    <% } else { %>
                        <p><%= statusMap[project.Status] %></p>
                    <% } %>
                   
                </div>
            </div>
            <form id="projectEdit">
                <div class="BlockBody">
                    <div class="Obs">
                        <span><%= project.Obs %></span>
                    </div>
                    <div class="Reference">
                        <p>Referencias:</p>
                        <% if (UserType === 1) { %>
                                <div class="">
                                    <label class="lalabel" for="fileReferenceAdm">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 3H12H8C6.34315 3 5 4.34315 5 6V18C5 19.6569 6.34315 21 8 21H11M13.5 3L19 8.625M13.5 3V7.625C13.5 8.17728 13.9477 8.625 14.5 8.625H19M19 8.625V11.8125" stroke="#fffffff" stroke-width="2"></path>
                                    <path d="M17 15V18M17 21V18M17 18H14M17 18H20" stroke="#fffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                    ADD FILE 
                                    </label>
                                    <input accept="image/*" onchange="showFileName(this)" type="file" class="input-file" id="fileReferenceAdm" name="fileReferenceAdm">
                                </div>
                                <input type="hidden" name="projectRoute" id="projectRoute" value="<%= ReferenceRoutes.Route %>">
                                <div id="descriptionFilename"></div>
                        <% } %>
                        <img src="/uploads/<%= ReferenceRoutes.Route %>/<%= ReferenceRoutes.Name %>" alt="">
                    </div>
                </div>
                <div class="BlockBotton">
                    <button type="submit">Atualizar</button>
                </div>
            </form>
        </div>
    </div>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/script/project.js"></script>
</html>