<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Portfolio/0. Logo.png">
    <link rel="stylesheet" href="/freelancer/project.css">
    <title>Projeto <%= project.Name %>
    </title>
</head>

<body>
    <div class="container">
        <div class="block-top">
            <div class="left">
                <img src="/Portfolio/0. Logo.png" alt="">
                <div class="center">
                    <p>Leticia S.</p>
                    <p>Arquitetura</p>
                </div>
            </div>
            <div class="rigth">
                <div class="user">
                    <div class="name">
                        <p>
                            <%= User.Name %>
                        </p>
                        <p>
                            <%= User.Surname %>
                        </p>
                    </div>
                    <ion-icon style="font-size: 40px;" name="person-circle-outline"></ion-icon>
                </div>
                <div class="rightSecond">
                    <a href="/logout"><ion-icon style="font-size: 20px;" name="log-out-outline"></ion-icon></a>
                </div>

            </div>
        </div>
        <div class="block-bot">
            <div class="BlockHeader">
                <div class="title">
                        <p>
                            <%= project.Name %>
                        </p>
                </div>
                <div class="status">
                    <span>Status</span>
                    <% if (project.Status==0 && UserType===1){ %>
                        <p>
                            <%= statusMap[project.Status] %>
                        </p>
                        <form class="statusForm" id="formApproval">
                            <input type="hidden" name="projectId" id="projectId" value="<%= project.id %>">
                            <button class="approval" name="approval" id="approval" value="2">Aprovar</button>
                            <button class="reject" name="reject" id="reject" value="1">Recusar</button>
                        </form>
                        <% } else { %>
                        <p>
                            <%= statusMap[project.Status] %>
                        </p>
                        <% } %>

                </div>
            </div>
            <div class="serviceType">
                <p><%= serviceMap[project.Service] %></p>
            </div>
            <form id="projectEdit">
                <div class="BlockBody">
                    <div class="fileService">
                        <% if (project.Service != 'interiorDesign') { %>
                            <div class="fileObgTitle">
                                <span>Arquivo Anexado:</span>
                            </div>
                            <a href="/uploads/<%= project.FileRoute %>/<%= project.File %>" download="Project_<%= project.Name %>">
                                <label class="Download-button">
                                    <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      height="16"
                                      width="20"
                                      viewBox="0 0 640 512"
                                    >
                                      <path
                                        d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-167l80 80c9.4 9.4 24.6 9.4 33.9 0l80-80c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-39 39V184c0-13.3-10.7-24-24-24s-24 10.7-24 24V318.1l-39-39c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9z"
                                        fill="white"
                                      ></path>
                                    </svg>
                                    <span></span>
                                </label>
                            </a>
                        <% } %>
                    </div>
                    <div class="Obs">
                        <div class="titleEtaps">
                            <span>Programa de necessidade</span>
                        </div>
                        <span>
                            <%= project.Obs %>
                        </span>
                    </div>
                    <div class="Reference">
                        <div class="titleEtaps">
                            <span>Referencias</span>
                            <% if (UserType===1) { %>
                            <label for="fileReferenceAdm" tabindex="0" class="plusButton">
                                <svg class="plusIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                                  <g mask="url(#mask0_21_345)">
                                    <path d="M13.75 23.75V16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25H16.25V23.75H13.75Z"></path>
                                  </g>
                                </svg>
                            </label>
                            <input accept="image/*" onchange="showFileName(this,'descriptionFilename')" type="file" class="input-file" id="fileReferenceAdm" name="fileReferenceAdm">
                            <input type="hidden" name="projectRoute" id="projectRoute"value="<%= referenceRoute[0].Route %>">
                            <div class="description" id="descriptionFilename"></div>
                            <% } %>
                        </div>
                        <div class="ReferenceFiles">
                            <% referenceRoute.forEach(element=> { %>
                                <% if (element.Type == 'filesReference' || element.Type == 'fileReferenceAdm') { %>
                                <img src="/uploads/<%= element.Route %>/<%= element.Name %>" alt="Reference">
                                <% } %>
                            <% }) %>
                        </div>
                    </div>
                    <div class="statusLayout">
                        <% if (project.Status >= 0 && project.Status < 12) { %>
                            <div class="titleEtaps">
                                <span>Layout</span>
                                <% if (UserType===1) { %>
                                    <label for="fileLayout" tabindex="0" class="plusButton">
                                        <svg class="plusIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                                          <g mask="url(#mask0_21_345)">
                                            <path d="M13.75 23.75V16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25H16.25V23.75H13.75Z"></path>
                                          </g>
                                        </svg>
                                    </label>
                                    <input accept="image/*" onchange="showFileName(this,'descriptionLayout')" type="file" class="input-file" id="fileLayout" name="fileLayout">
                                    <input type="hidden" name="projectRoute" id="projectRoute"value="<%= referenceRoute[0].Route %>">
                                    <div id="descriptionLayout"></div>  
                                <% } %>
                            </div>
                            <% referenceRoute.forEach(element=> { %>
                                <% if (element.Type == 'fileLayout') { %>
                                <img src="/uploads/<%= element.Route %>/<%= element.Name %>" alt="Reference">
                                <% } %>
                            <% }) %>
                        <% }%>
                    </div>
                    <div class="statusMarcenaria">
                        <% if (project.Status >= 0 && project.Status < 12) { %>
                            <div class="titleEtaps">
                                <span>Marcenaria</span>
                                <% if (UserType===1) { %>
                                    <label for="fileMarcenaria" tabindex="0" class="plusButton">
                                        <svg class="plusIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                                          <g mask="url(#mask0_21_345)">
                                            <path d="M13.75 23.75V16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25H16.25V23.75H13.75Z"></path>
                                          </g>
                                        </svg>
                                    </label>
                                    <input accept="image/*" onchange="showFileName(this,'descriptionMarcenaria')" type="file" class="input-file" id="fileMarcenaria" name="fileMarcenaria">
                                    <input type="hidden" name="projectRoute" id="projectRoute"value="<%= referenceRoute[0].Route %>">
                                    <div id="descriptionMarcenaria"></div>  
                                <% } %>
                            </div>
                            <% referenceRoute.forEach(element=> { %>
                                <% if (element.Type == 'fileMarcenaria') { %>
                                <img src="/uploads/<%= element.Route %>/<%= element.Name %>" alt="Reference">
                                <% } %>
                            <% }) %>
                            <% if (UserType === 1) { %>
                                <div class="inputs">
                                    <div class="inputsProject">
                                        <p>Nome</p>
                                        <input class="input" type="text" name="marcName" id="marcName" value="<%= project.MarcName %>">
                                    </div>
                                    <div class="inputsProject">
                                        <p>Codigo</p>
                                        <input class="input" type="text" name="marcCode" id="marcCode" value="<%= project.MarcCode %>">
                                    </div>
                                    <div class="inputsProject">
                                        <p>Marca</p>
                                        <input class="input" type="text" name="marcMarca" id="marcMarca" value="<%= project.MarcMarca %>">
                                    </div>
                                </div>
                            <% } %>
                            <div class="inputsSpan">
                                <div class="Projects">
                                    <p>Nome</p>
                                    <span><%= project.MarcName %></span>
                                </div>
                                <div class="Projects">
                                    <p>Codigo</p>
                                    <span><%= project.MarcCode %></span>
                                </div>
                                <div class="Projects">
                                    <p>Marca</p>
                                    <span><%= project.MarcMarca %></span>
                                </div>
                            </div>
                        <% }%>
                    </div>
                    <div class="statusRevest">
                        <% if (project.Status >= 0 && project.Status < 12) { %>
                            <div class="titleEtaps">
                                <span>Revestimento</span>
                                <% if (UserType===1) { %>
                                    <label for="fileRevest" tabindex="0" class="plusButton">
                                        <svg class="plusIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                                          <g mask="url(#mask0_21_345)">
                                            <path d="M13.75 23.75V16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25H16.25V23.75H13.75Z"></path>
                                          </g>
                                        </svg>
                                    </label>
                                    <input accept="image/*" onchange="showFileName(this,'descriptionRevest')" type="file" class="input-file" id="fileRevest" name="fileRevest">
                                    <input type="hidden" name="projectRoute" id="projectRoute"value="<%= referenceRoute[0].Route %>">
                                    <div id="descriptionRevest"></div>  
                                <% } %>
                            </div>
                            <% referenceRoute.forEach(element=> { %>
                                <% if (element.Type == 'fileRevest') { %>
                                <img src="/uploads/<%= element.Route %>/<%= element.Name %>" alt="Reference">
                                <% } %>
                            <% }) %>
                            <% if (UserType === 1) { %>
                                <div class="inputs">
                                    <div class="inputsProject">
                                        <p>Nome</p>
                                        <input class="input" type="text" name="revestName" id="revestName" value="<%= project.RevestName %>">
                                    </div>
                                    <div class="inputsProject">
                                        <p>Codigo</p>
                                        <input class="input" type="text" name="revestCode" id="revestCode" value="<%= project.RevestCode %>">
                                    </div>
                                    <div class="inputsProject">
                                        <p>Marca</p>
                                        <input class="input" type="text" name="revestMarca" id="revestMarca" value="<%= project.RevestMarca %>">
                                    </div>
                                </div>
                            <% } %>
                            <div class="inputsSpan">
                                <div class="Projects">
                                    <p>Nome</p>
                                    <span><%= project.RevestName %></span>
                                </div>
                                <div class="Projects">
                                    <p>Codigo</p>
                                    <span><%= project.RevestCode %></span>
                                </div>
                                <div class="Projects">
                                    <p>Marca</p>
                                    <span><%= project.RevestMarca %></span>
                                </div>
                            </div>
                        <% }%>
                    </div>
                    <div class="statusRender">
                        <% if (project.Status >= 0 && project.Status < 12) { %>
                            <div class="titleEtaps">
                                <span>Renderização</span>
                                <% if (UserType===1) { %>
                                    <label for="fileRender" tabindex="0" class="plusButton">
                                        <svg class="plusIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                                          <g mask="url(#mask0_21_345)">
                                            <path d="M13.75 23.75V16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25H16.25V23.75H13.75Z"></path>
                                          </g>
                                        </svg>
                                    </label>
                                    <input accept="image/*" onchange="showFileName(this,'descriptionRender')" type="file" class="input-file" id="fileRender" name="fileRender">
                                    <input type="hidden" name="projectRoute" id="projectRoute"value="<%= referenceRoute[0].Route %>">
                                    <div id="descriptionRender"></div>  
                                <% } %>
                            </div>
                            <% if (UserType === 1) { %>
                                <div class="">
                                    <input class="input" type="text" id="renderApi" name="renderApi" placeholder="Api">
                                </div>
                            <% } %>
                            <% referenceRoute.forEach(element=> { %>
                                <% if (element.Type == 'fileRender') { %>
                                <img src="/uploads/<%= element.Route %>/<%= element.Name %>" alt="Reference">
                                <% } %>
                            <% }) %>
                        <% } %>
                    </div>
                    <div class="statusTecnico">
                        <% if (project.Status >= 0 && project.Status < 12) { %>
                            <div class="titleEtaps">
                                <span>Detalhamento Tecnico</span>
                                <% if (UserType===1) { %>
                                    <label for="fileTecnico" tabindex="0" class="plusButton">
                                        <svg class="plusIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                                          <g mask="url(#mask0_21_345)">
                                            <path d="M13.75 23.75V16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25H16.25V23.75H13.75Z"></path>
                                          </g>
                                        </svg>
                                    </label>
                                    <input accept=".pdf" onchange="showFileName(this,'descriptionTecnico')" type="file" class="input-file" id="fileTecnico" name="fileTecnico">
                                    <input type="hidden" name="projectRoute" id="projectRoute"value="<%= referenceRoute[0].Route %>">
                                    <div id="descriptionTecnico"></div>  
                                <% } %>
                            </div>
                            <% referenceRoute.forEach(element=> { %>
                                <% if (element.Type == 'fileTecnico') { %>
                                    <a href="/uploads/<%= element.FileRoute %>/<%= element.File %>" download="Project_<%= element.Name %>">Baixar Arquivo</a>
                                <% } %>
                            <% }) %>
                        <% } %>
                    </div>
                    <div class="statusPlanta">
                        <% if (project.Status >= 0 && project.Status < 12) { %>
                            <div class="titleEtaps">
                                <span>Planta Humanizada</span>
                                <% if (UserType===1) { %>
                                    <label for="filePlanta" tabindex="0" class="plusButton">
                                        <svg class="plusIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                                          <g mask="url(#mask0_21_345)">
                                            <path d="M13.75 23.75V16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25H16.25V23.75H13.75Z"></path>
                                          </g>
                                        </svg>
                                    </label>
                                    <input accept="image/*" onchange="showFileName(this,'descriptionPlanta')" type="file" class="input-file" id="filePlanta" name="filePlanta">
                                    <input type="hidden" name="projectRoute" id="projectRoute"value="<%= referenceRoute[0].Route %>">
                                    <div id="descriptionPlanta"></div>  
                                <% } %>
                            </div>
                            <% referenceRoute.forEach(element=> { %>
                                <% if (element.Type == 'filePlanta') { %>
                                <img src="/uploads/<%= element.Route %>/<%= element.Name %>" alt="Reference">
                                <% } %>
                            <% }) %>
                        <% } %>
                    </div>
                    <div class="BlockBotton">
                        <% if (UserType===1) { %>
                            <button class="Atualizar" type="submit">Atualizar</button>
                        <% } %>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/script/project.js"></script>
</html>